.cld_container input {
  height: 32px;
  border: none;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 75%);
  text-transform: uppercase;
  font-size: 14px;
  /* font-size: 16px; */
  color: #797979;
  width: 99.5%;
  text-align: center;
  border-radius: 3px;
}

.cld_container input:focus-within{
  outline-color: green ;
}

.cld_container input[type="date"]::-webkit-inner-spin-button,
.cld_container input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.hideSubmitBtn {
  display: none;
}

.cld_errmsgContainer {
  display: flex;
  height: 15px;
  justify-content: space-between;
}

.cld_startaerrmsg {
  display: flex;
  height: 15px;
  justify-content: center;
}

.cld_errmsg {
  color: red;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 500;
}

.hidecld_errmsg {
  width: fit-content;
  /* transition: visibility 3s; */
  /* visibility: hidden; */
}

.cld_fieldContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
}

.cld_fieldContainer > div:first-child {
  margin-right: 10%;
  width: 100%;
}

.cld_fieldContainer > div:nth-child(2) {
  margin-left: 10%;
  width: 100%;
}

.cld_startDateFieldOnly {
  display: flex;
  justify-content: center;
}

.cld_startDateFieldOnly > div:first-child {
  width: 100%;
}
