.cld_container{
  width: 50%;
  margin:5% auto;
}

.cld_btnAlign{
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.cld_btnAlign button{
  cursor: pointer;
}

.cld_showDays{
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.cld_showDays select:first-child{
  margin-right: 10px;
}

.highlightNum{
  background-color: green;
}

.highlightNumBw{
  background-color: rgb(170, 235, 170);
}

select {
  border-color: #fff;
  padding: 5px 2px;
  font-size: 15px;
  outline: none;
}

option {
  font-size: small;
}

select:hover{
  background-color: rgba(0,0,0,0.07);
  border-radius: 5px;
  cursor: pointer;
}

/* table */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}